.ccmenu {
    -webkit-appearance: button;
    -webkit-border-radius: 2px;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-padding-end: 20px;
    -webkit-padding-start: 2px;
    -webkit-user-select: auto;
    background-image: url(../Images/mkDownArrow_D.png), 
    -webkit-linear-gradient(#4E4E4E, #484848 40%, #3D3D3D);
    background-position: center right;
    background-repeat: no-repeat;
    border: 1px solid #1F1F1F;
    color: inherit;
    overflow: hidden;
    padding-bottom: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ccstyle {
    -webkit-border-radius: 2px;
    border: 1px solid #1F1F1F;
    color: #D7D7D7;
    background-image: -webkit-linear-gradient(#4E4E4E, #484848 40%, #3D3D3D);
}

/********Checkbox**********/
input[type="checkbox"] {
  -webkit-appearance: none;
  display: inline-block;
  width: 15px;
  margin-top: 2px;
  height: 15px;
  margin-right: 3px;
  margin-left: 2px;
  vertical-align: middle;
  background: url("../Images/mkCheckSheet_D.png") left top no-repeat;
}
input[type="checkbox"]:hover {
  background: url("../Images/mkCheckSheet_D.png") -15px top no-repeat;
}
input[type="checkbox"]:checked {
  background: url("../Images/mkCheckSheet_D.png") -30px top no-repeat;
}
input[type="checkbox"]:checked:hover {
  background: url("../Images/mkCheckSheet_D.png") -44px top no-repeat;
}
/********radio button**********/
input[type="radio"] {
  display: none;
}
input[type="radio"] + label span {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 4px;
  vertical-align: middle;
  background: url("../Images/mkCheckSheet_D.png") -60px top no-repeat;
}
input[type="radio"]:hover + label:hover span:hover {
  background: url("../Images/mkCheckSheet_D.png") -75px top no-repeat;
}
input[type="radio"]:checked + label span {
  background: url("../Images/mkCheckSheet_D.png") -90px top no-repeat;
}
input[type="radio"]:checked:hover + label:hover span:hover {
  background: url("../Images/mkCheckSheet_D.png") -105px top no-repeat;
}
